{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "no-param-reassign": ["error", { "props": false }],
    "comma-dangle": ["error", "always-multiline"],
    "react-native/no-unused-styles": 2,
    "react-native/split-platform-components": 2,
    "react-native/no-inline-styles": 2,
    "react-native/no-color-literals": 1
  },
  "plugins": [
    "react",
    "react-native"
  ],
  "ecmaFeatures": {
    "jsx": true
  }
}
